<!DOCTYPE html>
<html lang='en'>
<head>

    <%- include ("partials/meta.ejs") %>

</head>
<body>

    <%- include ("partials/navbar.ejs") %>

    <div class="contentContainer">
        <div class="backgroundContainerAlbum">
            <img class="bgImageAlbum" src="..<%= backgroundImg %>" alt="mumford & sons group shot">
            <div class="bgOpacityAlbum"></div>
        </div>
        <div class="d-flex">
            <div class="albumArtContainerAlbum z40">
                <img class="albumArtworkAlbum" src="..<%= album.albumArtwork %>">
                <div class="listenOn">Listen on 
                    <a class="listenLink" href="<%= album.spotify %>" target="_blank"><strong>Spotify</strong></a> 
                    or 
                    <a class="listenLink" href="<%= album.appleMusic %>" target="_blank"><strong>Apple Music</strong></a>
                </div>
            </div>
            <div class="songListContainer z40">
                <div class="songListBackground"></div>
                <div class="songListSubcontainer">
                    <div class="py-2 fw-bold fst-italic fs-2 mx-auto text-white pt-5 "><%= album.name %></div>
                    <ol class="songList">
                        <!-- for loop to display songs -->
                        <% album.songTitles.forEach(songTitle => { %> 
                            <li class="songListItem"><%= songTitle %></li>
                        <% }) %>  
                    </ol>
                </div>
            </div>
        </div>
        <div class="descriptionContainer">
            <div class="descriptionBackground"></div>
            <div class="description"><%= album.description %></div>
        </div>
    </div>
    <!-- Github and LinkedIn links -->
    <div class="contactInfo">
        <a href="https://github.com/stephendoty826/mumford_and_sons" target="_blank" class="contactLinks"><i class="fab fa-github"></i>&nbsp Github</a>
        <div class="contactLinks">Created by&nbsp<a href="https://www.linkedin.com/in/stephen-doty/" target="_blank" class="contactLinks">Stephen Doty</a></div>
    </div>
    <script src='https://kit.fontawesome.com/35bf133ef1.js' crossorigin='anonymous'></script>
</body>
</html>