<!DOCTYPE html>
<html lang="en">
<head>

    <%- include ("partials/meta.ejs") %>
    
</head>
<body>
    
    <%- include ("partials/navbar.ejs") %>

    <div class="contentContainerAlbums">
        <!-- for-loop to display album artwork  -->
        <% albums.forEach(album => { %> 
            <a href="/album/<%= album.slug %>" class="albumArtContainerAlbums">
                <img class="albumArtworkAlbums" src="<%= album.albumArtwork %>" alt="<%= album.slug %> artwork">
            </a>
        <% }) %> 
    </div>
    <!-- Github and LinkedIn links -->
    <div class="contactInfoAlbums">
        <a href="https://github.com/stephendoty826/mumford_and_sons" target="_blank" class="contactLinks"><i class="fab fa-github"></i>&nbsp Github</a>
        <div class="contactLinks">Created by<a href="https://www.linkedin.com/in/stephen-doty/" target="_blank" class="contactLinks"> Stephen Doty</a></div>
    </div>
    <script src='https://kit.fontawesome.com/35bf133ef1.js' crossorigin='anonymous'></script>
</body>
</html>